.footer {
  font-weight: 600;
  line-height: 150%;
  min-width: $left-block-width;

  @include for-tablet {
    font-size: 12px;
    width: 100%;
    min-width: unset;
  }

  &__text {
    margin-bottom: 1.7rem;
    max-width: 216px;

    @include for-tablet {
      margin-bottom: 1.4rem;
      max-width: 238px;
    }
  }

  &__link {
    color: $blue;
  }

  &__logo {
    margin-top: 57px;

    @include for-tablet {
      margin-top: 40px;
    }
  }
}
