.header {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 95px 0 53px;
  width: 970px;
  margin: auto;

  &__logo {
    height: 117px;
    width: 325px;
    padding-top: 45px;
    display: flex;
    align-items: center;
  }

  &__text {
    width: 585px;
    color: #3f4246;
    font-weight: 500;
    font-size: 48px;
    line-height: 115%;
  }
}
