.home {
  width: $content-block;
  margin: auto;
  padding: 0 20px;

  @include for-tablet-big {
    width: 100%;
  }

  &__data {
    display: flex;
    gap: 23px;

    @include for-tablet-big {
      flex-direction: column-reverse;
      gap: 40px;
    }
  }

  &__title {
    font-size: 30px;
    line-height: 41px;

    @include for-tablet {
      font-size: 20px;
      line-height: 27px;

      br {
        display: none;
      }
    }

    &-earn {
      color: $slate-purple;
    }
  }

  &__sign-up-text {
    margin-top: 49px;
    font-size: 24px;
    line-height: 33px;

    @include for-tablet {
      font-size: 20px;
      line-height: 27px;
    }
  }

  &__statistic {
    font-size: 18px;
    line-height: 25px;
    margin-top: 56px;

    @include for-tablet {
      font-size: 20px;
    }

    &-status {
      color: $blue;
      font-weight: 600;
    }
  }
}
